<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo" xmlns="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
    http://code.alibabatech.com/schema/dubbo
    http://code.alibabatech.com/schema/dubbo/dubbo.xsd
    ">

	<!-- 声明需要暴露的服务接口 -->
	<dubbo:service version="1.0.0" interface="com.mo.dubbo.api.IOrderTestService" ref="orderTestService" timeout="3000" retries="0" registry="zookeeper" />
	
</beans>