<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo" xmlns="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
    http://code.alibabatech.com/schema/dubbo
    http://code.alibabatech.com/schema/dubbo/dubbo.xsd
    ">

	<dubbo:monitor protocol="registry" />

	<!-- 提供方应用信息 -->
	<dubbo:application name="dubbo-mo-test" />

	<dubbo:consumer check="false"/>

	<!-- dubbo服务暴露端口 -->
	<dubbo:protocol id="dubbo" name="dubbo" port="20880" threads="200" />

	<!-- 使用zookeeper注册中心暴露服务地址 -->
	<dubbo:registry protocol="zookeeper" address="zk201.dev.rs.com:2181,zk202.dev.rs.com:2181,zk203.dev.rs.com:2181" id="zookeeper" />
</beans>